.ipynb_checkpoints/Augmentor-checkpoint.ipynb
test/output/test_original_14-german-shepherd-CruftsChannel4.jpg_051f8110-bb4d-4a6b-89ae-58e6efabb4d0.jpg
test/output/test_original_14-german-shepherd-CruftsChannel4.jpg_a21e6676-33c1-45e5-a149-be9053e43664.jpg
test/output/test_original_14-german-shepherd-CruftsChannel4.jpg_acb22c7a-387e-4e38-85d3-7fbcae12f730.jpg
test/output/test_original_14-german-shepherd-CruftsChannel4.jpg_a41a67bd-2434-4aec-93b4-e190e6dbc882.jpg
